/* custom properties */
:root{
    --family-body: 'Open Sans', sans-serif;
    --family-headings: 'Poppins', sans-serif;

    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --box-shadow-section: 0 0 10px 3px hsl(192, 100%, 9%, .3);

    --padding-section: 90px 0;
}
*{
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    font-family: var(--family-body);
}
/* class container: all elements with a width and the rest has to be hidden */
.container{
    width: 90%;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-section);
}
.hero{
    /* special padding-section conditions */
    --padding-section: 0 0 60px 0;
    /* to darken background image */
    background-color: var(--Very-Pale-Cyan);
    background-image: url(../images/bg-hero-mobile.svg);
    background-size: cover;
    background-position: center;
    
}
.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* special padding-section conditions */
    --padding-section: 0;
}
.nav__logo{
    width: 100%;
    max-width: 150px;
    /* take out a little border down */
    display: block;
}
.nav__cta{
    text-decoration: none;
    color: var(--Very-Dark-Cyan);
    font-size: 700;
    background-color: var(--Very-Pale-Cyan);
    padding: .5em 1.5em;
    border-radius: 30px;
    box-shadow: 0 0 10px -3px hsl(192 100% 9% / .4);
    margin-right: 2px;
}
.hero__main{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    /* spacing */
    gap: 40px
}
.hero__texts{
    text-align: center;
}
.hero__title{
    font-size: 1.7rem;
    font-family: var(--family-headings);
}
.hero__paragraph{
    margin: 1rem 0;
    line-height: 1.5;
}
/* change name: button of hero and main are the same */
.button{
    display: inline-block;
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    background-color: var(--Pink);
    padding: .7em 2.8em;
    border-radius: 25px;

    box-shadow: var(--box-shadow-section);
}
.hero__img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;

}
/* section main */
.main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.section{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-shadow: 0 0 4px hsl(192, 100%, 9%, .3);
    border-radius: 8px;
    padding: 2em 1em;
}
.section__img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
.section__texts{
    text-align: center;
}
.section__title{
    color: var(--Very-Dark-Cyan);
    font-size: 1.8rem;
    font-family: var(--family-headings);
}
.section__paragraph{
    margin-top: 1em;
    line-height: 1.5;
    color: var(--Grayish-Blue);
}
/* section mail */
.email{
    padding: var(--padding-section);
    background-image: linear-gradient(to bottom, #fff 50%, var(--Very-Dark-Cyan) 50%);
}
.email__container{
    max-width: 700px;
    padding: 3em 2em;
    text-align: center;
    background-color: #fff;
    box-shadow: var(--box-shadow-section);
    border-radius: 10px;
}
.email__title{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: var(--family-headings);
}
/* section footer */
.footer{
    background-color: var(--Very-Dark-Cyan);
}
.footer__logo{
    max-width: 200px;
    display: block;
    margin-bottom: 30px;
}
.footer__directions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__paragraph{
    color: #fff;
    display: flex;
    gap: 20px;
    align-items:baseline;
}
.footer__icon{
    position: relative;
    top: 4px;
}
.footer__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: #fff;
    list-style: none;
}
.footer__list--first{
    margin: 30px 0 20px;
}
.footer__item{
    color: #fff;
}
.footer__link{
    color: #fff;
    text-decoration: none;
}
.footer__contact{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.footer__socialMedia{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer__media{
    display: inline-flex;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    align-items: center;
    justify-content: center;
}
.footer__copy{
    margin-top: 30px;
}
/* desktop view */
@media (min-width: 768px){
    .hero{
        background-image: url(../images/bg-hero-desktop.svg);
    }
    .nav__logo{
        max-width: 180px;
    }
    .nav__cta{
        padding: .8em 3.5em;
    }
    /* hero */
    .hero__main{
        align-items: center;
        flex-direction: row;
        /* spacing */
        gap: 70px
    }
    .hero__texts{
        width: 50%;
        text-align: left;
        height: max-content;
    }
    .hero__title{
        font-size: 2.5rem;
    }
    .hero__figure{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .hero__img{
        /* come back to origin valors */
        max-width: unset;
    }
    /* section main */
    .main{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    .section{
        padding: 4em 2.5em;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
    }
    .section--reverse{
        flex-direction: row;
    }
    .section__figure{
        width: 50%;
    }
    .section__texts{
        width: 50%;
        /* heritage from father(section) */
        text-align: inherit;
    }
    /* section mail */

    /* section footer */
    .footer__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer__figure{
        width: 100%;
    }
    .footer__logo{
        margin-bottom: 0;
    }
    .footer__directions{
        width: min-content;
    }
    .footer__list{
        width: max-content;
    }
    .footer__list--first{
        margin: 0;
    }
    .footer__item{
        color: #fff;
    }
    .footer__contact{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        width: 30%;
    }
    .footer__socialMedia{
        justify-content: flex-start;
    }
    .footer__media{
        display: inline-flex;
    }
    .footer__copy{
        margin-top: auto;
    }
}
